<div id="generated-graphs">
  <aca-pic-gc-graph
    graphWidth="50"
    source="https://graphs.gceasy.io/archived/2020/05/10/--gc_pause_duration-57d1a40a-0c87-4597-be11-3359e8d8eb5b.png--"
    link="https://api.gceasy.io/my-gc-report.jsp?p=YXJjaGl2ZWQvMjAyMC8wNS8xMC8tLUZpbGlwVGVzdDEwTWF5MjAyMC0tMTgtNy01MS0t&channel=API"
  >
  </aca-pic-gc-graph>

  <div class="graph">
    <aca-gc-causes-graph></aca-gc-causes-graph>
  </div>
  <div class="graph">
    <aca-gc-heap-size-graph></aca-gc-heap-size-graph>
  </div>
</div>
